<div class="row">

  <!--# 野菜からレシピを検索-->
  <div class="text-center mx-auto">
    <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "レシピを検索する", class: "search-input" %>
      <%= form.submit "野菜から絞り込む", class: "search-btn" %>
      <p>◆レシピに使用したい野菜名を入力してください◆</p>
    <% end %>
  </div>

  <!--# 栄養素からレシピを検索-->
  <div class="text-center mx-auto">
    <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "レシピを検索する", class: "search-input" %>
      <%= form.submit "栄養素から絞り込む", class: "search-btn" %>
      <p>◆摂取したい栄養素名を入力してください◆</p>
    <% end %>
  </div>

  <!--# 効能からレシピを検索-->
  <div class="text-center mx-auto">
    <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "レシピを検索する", class: "search-input" %>
      <%= form.submit "効能から絞り込む", class: "search-btn" %>
      <p>◆ご希望の効能を入力してください◆</p>
    <% end %>
  </div>

</div>

<!--# カテゴリー絞り込み検索-->
<div class="my-2">
  <%= form_tag recipes_path, method: :get, class: 'boards__searchForm' do %>
    <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {prompt: 'カテゴリーから絞り込む', onchange: 'submit(this.form);' } %>
  <% end %>
</div>

<!--# レシピ一覧-->
<div class="my-3">
  <div class="d-flex flex-wrap">
    <% @recipes.uniq.each do |recipe| %>
    <div class="mr-3 d-flex flex-column mb-4">
      <%= link_to recipe_path(recipe.id) do %>
        <% if recipe.recipe_image.attached? %>
          <%= image_tag recipe.recipe_image, size: "340x250" %>
        <% else %>
          <%= image_tag 'no-image', size: "340x250" %>
        <% end %>
      <% end %>
      <p class="ml-1">
        <strong><%= recipe.name %></strong></br>
        <%= recipe.summary %></br>
        投稿ユーザー：<%= recipe.user.account_name %>
      </p>
    </div>
    <% end %>
  </div>
</div>
