<div class="container">
  <h4 class="my-3 text-center">レシピ投稿</h4>
  <div class="row">
    
    <%= form_with(model: @recipe, local: true) do |f| %>
    <div class="col-4 px-5 px-sm-0 mx-auto">
      <div class="form-group">
        <table class="table table-borderless">
          <tbody>
            <tr>レシピ名 %></tr>
            <tr><%= f.text_field :name, autofocus: true, id:"inputTitle", class:"form-control" %></tr>
            <tr><%= f.label :name, "メイン野菜" %></tr>
               <td class="col-5">
                 <%= f.collection_check_boxes(:nutrient_ids, Vegetable.all, :id, :name) do |nutrienttag| %>
                   <%= nutrienttag.label class: 'tag__item' do %>
                     <%= nutrienttag.check_box class: 'tag__checkbox' %>
                     <%= nutrienttag.text %>
                   <% end %>
                 <% end %>
               </td>
             </tr>
            <tr>
              <td class="col-2"><%= f.label :vegetable_image, "野菜画像" %></td>
              <td class="col-5"><%= f.file_field :vegetable_image, placeholder: "Image", accept: "image/*", class: "w-100" %></td>
            </tr>
            <tr>
              <td class="col-2"><%= f.label :seasonal, "旬の時期" %></td>
              <td class="col-5"><%= f.text_field :seasonal, autofocus: true, id:"inputSeasonal", class:"form-control" %></td>
            </tr>
            <tr>
              <td class="col-2"><%= f.label :production_area, "産地情報" %></td>
              <td class="col-5"><%= f.text_area :production_area, autofocus: true, id:"inputProductionArea", class:"form-control", :size=>"40x6" %></td>
            </tr>
            <tr>
              <td class="col-2"><%= f.label :keeping, "保存方法" %></td>
              <td class="col-5"><%= f.text_area :keeping, autofocus: true, id:"inputKeeping", class:"form-control", :size=>"40x6" %></td>
            </tr>
            <tr>
              <td class="col-2"><%= f.label :introduction, "おすすめ情報" %></td>
              <td class="col-5"><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class:"form-control", :size=>"40x6" %></td>
            </tr>
            <tr>
              <td class="col-2"></td>
              <td class="col-5">
                <%= f.submit '新規登録', class:"btn btn-success" %>
                <% end %>
              </td>
            </tr>
          </tbody>
       </table>
     </div>
   </div>
  </div>
</div>


