<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830"><%= @vegetables.uniq.join("＆") %>を使ったレシピ</h4>
  <h6 class="my-1 text-right">レシピID.<%= @recipe.id %></h6>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 px-5 px-sm-0 mx-auto">
      <!--# レシピ画像-->
      <div class="text-center">
        <% if @recipe.recipe_image.attached? %>
          <%= image_tag  @recipe.recipe_image, class: "index-img"  %>
        <% else %>
          <%= image_tag 'no-image', width: '100%', height: '60%' %>
        <% end %>
      </div>

      <!--# レシピ情報-->
      <table class="table">
        <tbody>
          <tr>
            <th>投稿ユーザー</th>
            <td><%= @recipe.user.account_name %></td>
          </tr>
          <tr>
            <th>投稿日</th>
            <td><%= @recipe.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>難易度</th>
            <td><%= @recipe.difficulty %></td>
          </tr>
          <tr>
            <th>カテゴリー</th>
            <td>
              <% @recipe.tags.each do |tag| %>
                ・<%= tag.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>レビュー評価</th>
            <td><%= @recipe.reviews.average(:star) %></td>
          </tr>
        </tbody>
      </table>

      <!--# レシピ編集・削除ボタン-->
      <div class="text-center my-3">
        <%= link_to "レシピを編集する", edit_recipe_path(@recipe), class:"btn btn-outline-secondary" %>
      </div>
      <div class="text-center my-3">
        <%= link_to "レシピを削除する", recipe_path(@recipe), method: :delete, class:"btn btn-outline-danger", data: { confirm: "本当に削除しますか？" } %>
      </div>

      <!--# ブックマーク機能-->
      <div class="text-center my-3">
        <%= render "want_to_make_list", recipe: @recipe %>
      </div>
      <div class="text-center my-3">
        <%= render "made_list", recipe: @recipe %>
      </div>

      <!--# レビュー投稿-->
      <h6 class="text-center mt-5">◆レビュー投稿はこちらから◆</h6>
      <div class="text-center my-3">
        <%= render "public/reviews/form", itme: @review, url: reviews_path(@review), submit: 'レビューを投稿する' %>
      </div>
      <div class="text-center my-3">
        <%= link_to "全てのレビューを見る", reviews_path(@review), class:"btn btn-info" %>
      </div>
    </div>


    <div class="col-lg-7 col-md-7 col-sm-12 px-5 px-sm-0 mx-auto">
      <!--# レシピ詳細-->
      <table class="table">
        <tbody>
          <tr>
            <th class="col-2">レシピ名</th>
            <td class="col-5"><%= @recipe.name %></td>
       　  </tr>
          <tr>
            <th>調理時間の目安</th>
            <td><%= @recipe.time %>　分</td>
          </tr>
          <tr>
            <th>おすすめ情報</th>
            <td><%=safe_join(@recipe.introduction.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <th>材料</th>
            <td>
              <table class="table table-borderless">
                <tbody>
                  <% @recipe.ingredients.each do |ingredient| %>
                  <tr>
                    <td class="col-3"><%= ingredient.content %></td>
                    <td class="col-2"><%= ingredient.quantity %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th>作り方</th>
            <td>
              <table class="table table-borderless">
                <tbody>
                  <% @recipe.cookerys.each_with_index do |cookery, i| %>
                  <tr>
                    <td><%= i+1 %></td>
                    <td><%= cookery.process %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
       </tbody>
      </table>

      <!--# レビュー一覧-->
      <div class="my-5">
        <h5 class="text-center" style="background-color: #c66358">レビュー（全<%= @recipe.reviews.count %>件）</h5>
        <table class="table table-borderless">
          <% if @recipe.reviews.present? %>
          <tbody>
            <% @recipe.reviews.all.order(created_at: :desc).each do |review| %>
              <tr>
                <th class="col-2">投稿ユーザー</td>
                <td class="col-5"><%= review.user.account_name %></td>
              </tr>
              <tr>
                <th>評価</th>
                <td>
                  <div id="star_<%= review.id %>"></div>
                  <script>
                    $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#star_<%= review.id %>');
                    if (elem == null) return;

                    elem.innerHTML = "";
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      score: "<%= review.star %>",
                      readOnly: true,
                    };
                    raty(elem, opt);
                    });
                  </script>
                </td>
              </tr>
              <tr>
                <th>コメント</th>
                <td><%=safe_join(review.comment.split("\n"),tag(:br))%></td>
              </tr>
              <tr>
                <td></td>
                <td>
                    <%= link_to "レビューを編集する", edit_review_path(review) %>／
                    <%= link_to "削除する", review_path(review), method: :delete,  data: { confirm: "本当に削除しますか？" } %>
                </td>
              </tr>
              <tr style="border: solid 2px #ffb830"></tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

