<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">野菜を知ろう</h4>
  <div class="row">
    <!--# 野菜画像-->
    <div class="col-lg-4 col-md-4 col-sm-12 px-5 px-sm-0 mx-auto">
      <div class="text-center">
        <% if @vegetable.vegetable_image.attached? %>
          <%= image_tag @vegetable.vegetable_image, width: '100%', height: '100%' %>
        <% else %>
          <%= image_tag 'no-image', width: '100%', height: '80%' %>
        <% end %>
      </div>
    </div>

    <!--# 野菜詳細情報-->
    <div class="col-lg-6 col-md-6 col-12 px-5 px-sm-0 mx-auto">
      <div class="vegetable-show">
        <div class="flex-row">
          <div class="flex-item">野菜名</div>
          <div class="flex-item"><%= @vegetable.name %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">栄養素</div>
          <div class="flex-item"><%= @nutrients.uniq.join("・") %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">効能</div>
          <div class="flex-item"><%= @effects.uniq.join("・") %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">旬の時期</div>
          <div class="flex-item"><%= @vegetable.seasonal %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">産地情報</div>
          <div class="flex-item"><%=safe_join(@vegetable.production_area.split("\n"),tag(:br))%></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">保存方法</div>
          <div class="flex-item"><%=safe_join(@vegetable.keeping.split("\n"),tag(:br))%></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">おすすめ情報</div>
          <div class="flex-item"><%=safe_join(@vegetable.introduction.split("\n"),tag(:br))%></div>
        </div>
      </div>
    </div>
  </div>
</div>