<div class="container">
  <%= image_tag asset_path("top4.jpg"), width: '100%', height: '50%' %>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 px-5 px-sm-0 mx-auto">
      <h4 class="text-center" style="background-color: #c66358;">お知らせ</h4>
      <p style="background-color: #f3ccd5">
        ご利用ありがとうございます。</br>
        当サイトは野菜をつかった料理のレシピを投稿・検索できるコミュニティサイトです。</br>
        野菜・栄養素・効能情報につきましては、誤った情報の拡散防止のため、管理者が精査した上で掲載しております。</br>
        情報提供につきましては、ご意見・ご要望の投稿からお願い致します。</br>
        また、当サイトはより多くのレシピに巡り合えること目的としていますので、ユーザー様が退会された後も投稿済みのレシピは消去されません。</br>
        ご理解の程、よろしくお願いします。
      </p>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 px-5 px-sm-0 mx-auto">
      <h4 class="text-center" style="background-color: #ffb830">皆様からのご意見・ご要望</h4>
      <table class="mx-auto">
        <tbody>
          <% @requests.each do |request| %>
            <tr>
              <td><%= request.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr><td><%= request.content %></td></tr>
            <tr><td class="text-right"><%= link_to "詳細", request_path(request) %></td></tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center my-3">
        <%= link_to "全てのご意見・ご要望を見る", requests_path, class:"btn btn-info" %>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 px-5 px-sm-0 mx-auto">
      <%= render "public/requests/form", itme: @request, url: root_path %>
    </div>
  </div>


  <div class="row mt-5">
    <%= render "public/homes/vegetable_rank", itme: @vegetable_ranks, url: root_path %>
    <%= render "public/homes/want_rank", itme: @want_ranks, url: root_path %>
  </div>

  <div class="text-right">
    <p>画像出典：Pinterest</p>
  </div>
</div>