<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">レビュー詳細</h4>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
      <div class="review-form">
        <div class="flex-row">
          <div class="flex-item">レビューID</div>
          <div class="flex-item"><%= @review.id %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">レビューユーザー</div>
          <div class="flex-item"><%= @review.user.account_name %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">レビューレシピID</div>
          <div class="flex-item"><%= @review.recipe.id %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">レビューレシピ名</div>
          <div class="flex-item"><%= @review.recipe.name %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">評価</div>
          <div class="flex-item">
            <div id="star_<%= @review.id %>"></div>
              <script>
                $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#star_<%= @review.id %>');
                if (elem == null) return;

                elem.innerHTML = "";
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  score: "<%= @review.star %>",
                  readOnly: true,
                };
                raty(elem, opt);
                });
              </script>
            </div>
          </div>
          <div class="flex-row">
          <div class="flex-item">コメント</div>
          <div class="flex-item"><%=safe_join(@review.comment.split("\n"),tag(:br))%></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">レビュー更新日</div>
          <div class="flex-item"><%= @review.updated_at.strftime('%Y/%m/%d') %></div>
        </div>
      </div>
    </div>
  </div>
</div>