<div class="container">
  <h4 class="my-3 text-center">リクエスト投稿詳細</h4>
  <div class="row">
    <div class="col-6 px-5 px-sm-0 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="col-2">リクエスト投稿日</th>
            <td class="col-5"><%= @request.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="col-2">投稿ユーザー</td>
            <td class="col-5"><%= @request.user.account_name %></td>
       　　</tr>
          <tr>
            <td><p>ご意見・ご要望</p></td>
            <td><%=safe_join(@request.content.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <td class="col-2">対応ステータス</td>
            <td class="col-5"><%= @request.confirm ? '管理者に通知しました' : '管理者が対応致しました' %></td>
          </tr>
          <tr>
            <td class="col-2">対応内容</td>
            <td class="col-5">
              <% if @request.reply.present? %>
                <%=safe_join(@request.reply.split("\n"),tag(:br))%>
              <% else %>
                <p>
                  管理者がご意見・ご要望内容を確認しております。<br>
                  対応までもうしばらくお待ちください。
                </p>
　　　　　　　<% end %>
　　　　　　</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center my-3">
        <%= link_to "リクエスト一覧へ戻る", requests_path(@request), class:"btn btn-primary" %>
      </div>
    </div>
　</div>
</div>
