<%= form_for [@recipe, @review] do |f| %>
  <div class="form-group" id="star" style="background-color: #aeeff0">
    <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
    <div id="post_raty"></div>
  </div>

  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#post_raty');
      if (elem == null) return;

      elem.innerHTML = ""
      let opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'review[star]',
      };
      raty(elem, opt);
      });
  </script>

  <div class="form-group">
    <%= f.text_area :comment, id:"inputComment", class:"form-control", :size=>"10x6", placeholder: comment_text %>
  </div>

  <div class="form-group">
    <%= f.submit submit, class: 'btn btn-outline-success' %>
  </div>
<% end %>

