<!--# レビュー検索-->
<div class="text-center my-2">
  <%= form_with(url: search_reviews_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "レビューを検索する", class: "search-input" %>
    <%= form.submit "キーワード検索", class: "search-btn" %>
    <p>◆レシピ名・ユーザー名・コメントワードから検索することができます◆<p>
  <% end %>
</div>

<!--# レビュー一覧-->
<div class="row">
  <div class="review-index">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class="flex-row">
          <div class="flex-item">レビューレシピ</div>
          <div class="flex-item">
            <%= link_to recipe_path(review.recipe.id) do %>
              <%= review.recipe.name %>
            <% end %>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-item">投稿ユーザー</div>
          <div class="flex-item"><%= review.user.account_name %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item">評価</div>
          <div class="flex-item">
            <div id="star_<%= review.id %>"></div>
            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#star_<%= review.id %>');
                if (elem == null) return;

                elem.innerHTML = "";
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  score: "<%= review.star %>",
                  readOnly: true,
                };
                raty(elem, opt);
                });
            </script>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-item">コメント</div>
          <div class="flex-item"><%=safe_join(review.comment.split("\n"),tag(:br))%></div>
        </div>
        <div class="flex-row">
          <div class="no-item"></div>
          <div class="no-item">
            <% if logger? && current_user.id == review.user_id %>
              <%= link_to "レビューを編集する", edit_review_path(review) %>／
              <%= link_to "削除する", review_path(review), method: :delete,  data: { confirm: "本当に削除しますか？" } %>
            <% end %>
          </div>
        </div>
        <div class="border-item"></div>
      <% end %>
    <% end %>
  </div>
</div>


