<!--# レビュー検索-->
<div class="text-center my-2">
  <%= form_with(url: search_reviews_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "レビューを検索する", class: "search-input" %>
    <%= form.submit "キーワード検索", class: "search-btn" %>
    <p>◆レシピ名・ユーザー名・コメントワードから検索することができます◆<p>
  <% end %>
</div>

<!--# レビュー一覧-->
<div class="row">
  <div class="offset-md-1">
    <table class="table table-borderless">
      <% if @reviews.present? %>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <th>レビューレシピ</td>
            <td>
              <%= link_to recipe_path(review.recipe.id) do %>
              <%= review.recipe.name %>
              <% end %>
          </td>
          </tr>
          <tr>
            <th>投稿ユーザー</td>
            <td><%= review.user.account_name %></td>
          </tr>
          <tr>
            <th>評価</th>
            <td>
              <div id="star_<%= review.id %>"></div>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#star_<%= review.id %>');
                  if (elem == null) return;
                  elem.innerHTML = "";
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    score: "<%= review.star %>",
                    readOnly: true,
                };
                raty(elem, opt);
                });
              </script>
            </td>
          </tr>
          <tr>
            <th>コメント</th>
            <td><%=safe_join(review.comment.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <th>投稿日</th>
            <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="review_link">
                <%= link_to "レビューを編集する", edit_review_path(review) %>／
                <%= link_to "削除する", review_path(review), method: :delete,  data: { confirm: "本当に削除しますか？" } %>
              </div>
            </td>
          </tr>
          <tr style="border: solid 2px #e70989"></tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>