<div class="container">
    <h4 class="my-3 text-center">レビュー一覧</h4>
    <h6 class="my-2 text-center"><%= @reviews.count %>件のレビューが投稿されています</h6>

    <div class="row">
      <div class="offset-md-1">
        <table class="table table-borderless">
          <% if @reviews.present? %>
          <tbody>
            <% @reviews.each do |review| %>
            <tr>
              <th align="left">レビューレシピ</td>
              <td><%= review.recipe.name %></td>
            </tr>
            <tr>
              <th align="left">投稿ユーザー</td>
              <td><%= review.user.account_name %></td>
            </tr>
            <tr>
              <th align="left">評価</th>
              <td>
                <div id="star_<%= review.id %>"></div>

                <script>
                  $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#star_<%= review.id %>');
                  if (elem == null) return;

                  elem.innerHTML = "";
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    score: "<%= review.star %>",
                    readOnly: true,
                  };
                  raty(elem, opt);
                  });
                </script>
              </td>
            </tr>
            <tr>
              <th align="left">コメント</th>
              <td><%=safe_join(review.comment.split("\n"),tag(:br))%></td>
            </tr>
            <tr>
              <th align="left">投稿日</th>
              <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <div class="review_link">
                  <%= link_to "レビューを編集する", edit_review_path(review) %>
                  <%= link_to "レビューを削除する", review_path(review), method: :delete,  data: { confirm: "本当に削除しますか？" } %>
                </div>
              </td>
            </tr>



              <% end %>
          </tbody>
        </table>
        <% end %>
        <%= paginate @reviews %>
        </div>
      </div>
</div>


