<div class="container">
  <h4 class="mt-3 text-center" style="background-color: #ffff55">効能一覧</h4>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 px-5 px-sm-0 mx-auto">
      <div class="text-right my-3">
        <%= link_to "　新規登録　", new_admin_effect_path, class:"btn btn-outline-success" %>
      </div>

      <div class="effect-index">
        <div class="flex-row">
          <div class="title-item">
            <p class="title">効能ID</p>
          </div>
          <div class="title-item">
            <p class="title">効能名</p>
          </div>
          <div class="title-item"></div>
          <div class="title-item"></div>
          <div class="title-item"></div>
        </div>
        <% @effects.each do |effect| %>
          <div class="flex-row">
            <div class="flex-item"><%= effect.id %></div>
            <div class="flex-item"><%= effect.name %></div>
            <div class="flex-item"><%= link_to "詳細", admin_effect_path(effect) %></div>
            <div class="flex-item"><%= link_to "編集", edit_admin_effect_path(effect), style: "color: #e70989;" %></div>
            <div class="flex-item"><%= link_to "削除", admin_effect_path(effect), method: :delete, data: { confirm: "本当に削除しますか？" }, style: "color: red;" %></div>
          </div>
          <div class="border-item"></div>
        <% end %>
      </div>
      <%= paginate @effects %>
    </div>
  </div>
</div>

