<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffff55">効能一覧</h4>
  <div class="row">
    <div class="col-8 px-5 px-sm-0 mx-auto">
      <div class="text-right my-3">
        <%= link_to "新規登録", new_admin_effect_path, class:"btn btn-outline-success" %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>効能ID</th>
            <th>効能名</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr><% @effects.each do |effect| %></tr>
            <td><%= effect.id %></td>
            <td><%= effect.name %></td>
            <td><%= link_to "詳細", admin_effect_path(effect) %></td>
            <td><%= link_to "編集", edit_admin_effect_path(effect), style: "color: #c66358;" %></td>
            <td><%= link_to "削除", admin_effect_path(effect), method: :delete, data: { confirm: "本当に削除しますか？" }, style: "color: red;" %></td>
            <% end %>
        </tbody>
      </table>
      <%= paginate @effects %>
    </div>
  </div>
</div>

