<div class="container">
  <div calss="row">
    <div class="col-9 px-5 px-sm-0 mx-auto">
      <h4 class="my-3 text-center">ユーザー新規登録</h4>

      <%= form_with model: @user, url: registration_path(resource_name), local: true do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table class="flex">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td class="col-3"><%= f.label :account_name %></td>
          <td class="col-6"><%= f.text_field :account_name, autofocus: true, autocomplete: "account_name" %></td>
        </tr>
        <tr>
          <td class="col-3"><%= f.label :email %></td>
          <td class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td class="col-3"><%= f.label :telephone_number %></td>
          <td class="col-6"><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
        </tr>
        <tr>
          <td class="col-3"><%= f.label :birth_date %></td>
          <td class="col-6"><%= f.text_field :birth_date, autofocus: true, autocomplete: "birth_date" %></td>
        </tr>
        <tr>
          <td class="col-3"><%= f.label :gender %></td>
          <td class="col-6">
            <%= f.radio_button :gender, "man", :checked => true %>
            <%= f.label :gender, User.genders_i18n[:man] %>
            <%= f.radio_button :gender, "women" %>
            <%= f.label :gender, User.genders_i18n[:woman] %>
          </td>
        </tr>
        <tr>
          <td class="col-3">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
    　　　　　　<% end %>
          </td>
          <td class="col-6"><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td class="col-3"><%= f.label :password_confirmation %></td>
          <td class="col-6"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
  　　　　<tr>
          <td class="col-3"></td>
          <td class="col-6"><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </tr>
　　<% end %>
    </tbody>
    </table>

    <p>登録がお済みでない方は　<%= link_to "こちら", new_user_session_path, class: "underline" %>　からログインしてください</p>
    </div>
  </div>
</div>
