<%= form_with model: @nutrient, url: url do |f| %>
 <div class="nutrientform">
    <div class="flex-row">
      <div class="flex-item">栄養素名</div>
      <div class="flex-item"><%= f.text_field :name, autofocus: true, id:"inputTitle", class:"form-control" %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">栄養素概要</div>
      <div class="flex-item"><%= f.text_area :introduction, id:"inputIntroduction", class:"form-control", :size=>"30x15" %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">効能</div>
      <div class="flex-item">
        <%= f.collection_check_boxes(:effect_ids, Effect.all, :id, :name) do |effecttag| %>
          <%= effecttag.label class: 'tag__item mr-3' do %>
            <%= effecttag.check_box class: 'tag__checkbox' %>
            <%= effecttag.text %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="text-center my-3">
      <%= f.submit submit, class:"btn btn-success" %>
    </div>
  </div>
<% end %>
