<div class="container">
  <h4 class="mt-3 text-center" style="background-color: #ffff55">栄養素一覧</h4>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 px-5 px-sm-0 mx-auto">
      <!--# 新規登録ボタン-->
      <div class="text-right my-3">
        <%= link_to "　新規登録　", new_admin_nutrient_path, class:"btn btn-outline-success" %>
      </div>

      <!--# 栄養素一覧-->
      <div class="nutrient-index">
        <div class="flex-row">
          <div class="title-item">
            <p class="title">栄養素ID</p>
          </div>
          <div class="title-item">
            <p class="title">栄養素名</p>
          </div>
          <div class="title-item"></div>
          <div class="title-item"></div>
          <div class="title-item"></div>
        </div>
        <% @nutrients.each do |nutrient| %>
          <div class="flex-row">
            <div class="flex-item"><%= nutrient.id %></div>
            <div class="flex-item"><%= nutrient.name %></div>
            <div class="flex-item"><%= link_to "詳細", admin_nutrient_path(nutrient) %></div>
            <div class="flex-item"><%= link_to "編集", edit_admin_nutrient_path(nutrient), style: "color: #e70989;" %></div>
            <div class="flex-item"><%= link_to "削除", admin_nutrient_path(nutrient), method: :delete, data: { confirm: "本当に削除しますか？" }, style: "color: red;" %></div>
          </div>
          <div class="border-item"></div>
        <% end %>
      </div>
      <%= paginate @nutrients %>
    </div>
  </div>
</div>
