<div class="container">
  <h4 class="my-3 text-center">栄養素詳細</h4>
  <div class="row">
    <div class="col-6 px-5 px-sm-0 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="col-2"><p>栄養素ID</p></td>
            <td class="col-5"><%= @nutrient.id %></td>
       　　</tr>
          <tr>
            <td class="col-2"><p>栄養素名</p></td>
            <td class="col-5"><%= @nutrient.name %></td>
       　  </tr>
          <tr>
            <td><p>栄養素概要</p></td>
            <td><%=safe_join(@nutrient.introduction.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <td><p>効能</p></td>
            <td><%= @nutrient.effect %></td>
          </tr>

       </tbody>
     </table>
    </div>
  </div>
    <div class="text-center">
      <%= link_to "編集", edit_admin_nutrient_path(@nutrient), class:"btn btn-primary col-3" %>
    </div>


</div>