<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">栄養素情報詳細</h4>
  <div class="row">
    <div class="col-8 px-5 px-sm-0 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="col-1">栄養素ID</th>
            <td class="col-6"><%= @nutrient.id %></td>
       　　</tr>
          <tr>
            <th>栄養素名</th>
            <td><%= @nutrient.name %></td>
       　  </tr>
          <tr>
            <th>栄養素概要</th>
            <td><%=safe_join(@nutrient.introduction.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <th>効能</th>
            <td>
              <% @nutrient.effect_tags.each do |effect_tag| %>
                <%= effect_tag.effect.name %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <%= link_to "編集", edit_admin_nutrient_path(@nutrient), class:"btn btn-primary w-25" %>
      </div>
    </div>
  </div>
</div>