<%= form_with model: @vegetable, url: url do |f| %>
  <div class="vegetableform">
    <div class="flex-row">
      <div class="flex-item">野菜名称</div>
      <div class="flex-item"><%= f.text_field :name, autofocus: true, id:"inputTitle", class:"form-control" %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">栄養素</div>
      <div class="flex-item">
        <%= f.collection_check_boxes(:nutrient_ids, Nutrient.all, :id, :name) do |nutrienttag| %>
          <%= nutrienttag.label class: 'tag__item mr-2' do %>
            <%= nutrienttag.check_box class: 'tag__checkbox' %>
            <%= nutrienttag.text %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-item">野菜画像</div>
      <div class="flex-item"><%= f.file_field :vegetable_image, placeholder: "Image", accept: "image/*" %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">旬の時期</div>
      <div class="flex-item"><%= f.text_field :seasonal, autofocus: true, id:"inputSeasonal", class:"form-control" %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">産地情報</div>
      <div class="flex-item"><%= f.text_area :production_area, autofocus: true, id:"inputProductionArea", class:"form-control", :size=>"30x4" %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">保存方法</div>
      <div class="flex-item"><%= f.text_area :keeping, autofocus: true, id:"inputKeeping", class:"form-control", :size=>"30x4" %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">おすすめ情報</div>
      <div class="flex-item"><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class:"form-control", :size=>"30x15" %></div>
    </div>
    <div class="text-center my-3">
      <%= f.submit submit, class:"btn btn-success" %>
    </div>
  </div>
<% end %>