<div class="container">
  <h4 class="my-3 text-center">野菜情報詳細</h4>
  <div class="row">
    <div class="col-4 px-5 px-sm-0 mx-auto">
      <div class="text-center">
        <% if @vegetable.vegetable_image.attached? %>
          <%= image_tag @vegetable.vegetable_image, size: "340x250" %>
        <% else %>
          <%= image_tag 'no-image', size: "340x250" %>
        <% end %>
      </div>
      <div class="text-center my-3">
        <%= link_to "編集", edit_admin_vegetable_path(@vegetable), class:"btn btn-primary col-5" %>
      </div>
    </div>


    <div class="col-6 px-5 px-sm-0 mx-auto">
      <table class="table">
        <tbody>
          <tr>
            <td class="col-2"><p>野菜ID</p></td>
            <td class="col-5"><%= @vegetable.id %></td>
       　　</tr>
          <tr>
            <td class="col-2"><p>野菜名</p></td>
            <td class="col-5"><%= @vegetable.name %></td>
       　  </tr>
       　  <tr>
            <td><p>栄養素</p></td>
            <td>
              <% @vegetable.nutrient_tags.each do |nutrient_tag| %>
                <%= nutrient_tag.nutrient.name %>
              <% end %>
            </td>
          </tr>
           <tr>
            <td><p>効能</p></td>
            <td>
              <%= @effects.uniq.join(" ") %>
            </td>
          </tr>
          <tr>
            <td class="col-2"><p>旬の時期</p></td>
            <td class="col-5"><%= @vegetable.seasonal %></td>
       　  </tr
          <tr>
            <td class="col-2"><p>産地情報</p></td>
            <td class="col-6"><%=safe_join(@vegetable.production_area.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <td class="col-2"><p>保存方法</p></td>
            <td class="col-6"><%=safe_join(@vegetable.keeping.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <td class="col-2"><p>おすすめ情報</p></td>
            <td class="col-6"><%=safe_join(@vegetable.introduction.split("\n"),tag(:br))%></td>
          </tr>
       </tbody>
     </table>
    </div>
  </div>
</div>