<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">野菜情報詳細</h4>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 px-5 px-sm-0 mx-auto">
      <!--# 野菜画像-->
      <div class="text-center">
        <% if @vegetable.vegetable_image.attached? %>
          <%= image_tag @vegetable.vegetable_image, width: '100%', height: '100%' %>
        <% else %>
          <%= image_tag 'no-image', width: '100%', height: '100%' %>
        <% end %>
      </div>
      <div class="text-center my-3">
        <%= link_to "　　編集　　", edit_admin_vegetable_path(@vegetable), class:"btn btn-outline-primary" %>
      </div>
    </div>

    <!--# 野菜詳細情報-->
    <div class="col-lg-6 col-md-6 col-sm-12 px-5 px-sm-0 mx-auto">
      <table class="table">
        <tbody>
          <tr>
            <th class="col-2">野菜ID</td>
            <td class="col-5"><%= @vegetable.id %></td>
       　　</tr>
          <tr>
            <th>野菜名</th>
            <td><%= @vegetable.name %></td>
       　  </tr>
       　  <tr>
            <th>栄養素</th>
            <td><%= @nutrients.uniq.join(" ") %></td>
          </tr>
           <tr>
            <th>効能</th>
            <td><%= @effects.uniq.join(" ") %></td>
          </tr>
          <tr>
            <th>旬の時期</th>
            <td><%= @vegetable.seasonal %></td>
          </tr>
          <tr>
            <th>産地情報</th>
            <td><%=safe_join(@vegetable.production_area.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <th>保存方法</th>
            <td><%=safe_join(@vegetable.keeping.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <th>おすすめ情報</th>
            <td><%=safe_join(@vegetable.introduction.split("\n"),tag(:br))%></td>
          </tr>
       </tbody>
     </table>
    </div>
  </div>
</div>