<div class="container">
  <h4 class="my-3 text-center">リクエスト対応処理</h4>
  <div class="row">
    <div class="col-6 px-5 px-sm-0 mx-auto">
      <%= form_with model: @request, url: admin_request_path(@request.id), method: :patch do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-2">リクエストID</td>
              <td class="col-5"><%= @request.id %></td>
            </tr>
            <tr>
              <td class="col-2">投稿ユーザー</td>
              <td class="col-5"><%= @request.user.account_name %></td>
            </tr>
            <tr>
              <td class="col-2">受付日</th>
              <td class="col-5"><%= @request.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td class="col-2">ご意見・ご要望</td>
              <td class="col-5"><%=safe_join(@request.content.split("\n"),tag(:br))%></td>
            </tr>
            <tr>
              <td class="col-2"><%= f.label :reply, "対応内容" %></td>
              <td class="col-5"><%= f.text_area :reply, autofocus: true, id:"inputRply", class:"form-control", :size=>"40x6" %></td>
            </tr>
            <tr>
              <td>対応ステータス</td>
              <td>
                <%= f.radio_button :confirm, true %><%= f.label :confirm, "確認中", class: "text-active" %>
                <%= f.radio_button :confirm, false %><%= f.label :confirm, "対応済み", class: "text-invalid" %>
              </td>
            </tr>
            <tr>
              <td class="col-2"></td>
              <td class="col-5">
                <%= f.submit 'リクエスト対応を行う', class:"btn btn-outline-warning" %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>