<div class="container">
  <h4 class="my-3 text-center" style="background-color: #ffb830">リクエスト詳細情報</h4>
  <div class="row">
    <div class="col-8 px-5 px-sm-0 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="col-2">リクエストID</th>
            <td class="col-6"><%= @request.id %></td>
       　　</tr>
          <tr>
            <th>投稿ユーザー</th>
            <td><%= @request.user.account_name %></td>
       　　</tr>
          <tr>
            <th>受付日</th>
            <td><%= @request.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>ご意見・ご要望</th>
            <td><%=safe_join(@request.content.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <th>対応内容</th>
            <td><%=safe_join(@request.reply.split("\n"),tag(:br))%></td>
          </tr>
          <tr>
            <th>対応ステータス</th>
            <td><%= @request.confirm ? '確認中' : '対応済み' %></td>
       　　</tr>
        </tbody>
      </table>

    <div class="text-center my-3">
      <%= link_to "リクエスト対応を行う", edit_admin_request_path(@request), class:"btn btn-primary" %>
    </div>
</div>

</div>
