<div class="container">
  <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
    <h4 class="my-3 text-center" style="background-color: #ffff55"><%= @user.account_name %>さんのアカウント管理</h4>
    <div class="user-form">
    <div class="flex-row">
      <div class="flex-item">アカウント名</div>
      <div class="flex-item"><%= @user.account_name %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">メールアドレス</div>
      <div class="flex-item"><%= @user.email %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">電話番号</div>
      <div class="flex-item"><%= @user.telephone_number %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">生年月日</div>
      <div class="flex-item"><%= @user.birth_date %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">性別</div>
      <div class="flex-item"><%= @user.gender ? '男性' : '女性' %></div>
    </div>
    <div class="flex-row">
      <div class="flex-item">会員ステータス</div>
      <div class="flex-item">
        <% if @user.is_active? %>
          <span>有効</span>
        <% else %>
          <span>退会済み</span>
        <% end %>
      </div>
    </div>
    <div class="text-center my-3">
      <%= link_to "　　編集　　", edit_admin_user_path(@user), class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>

