<div class="container">
  <div calss="row">
    <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
      <h4 class="my-3 text-center" style="background-color: #ffff55">ユーザーログイン</h2>

      <% if flash[:danger] %>
        <p class="text-red"><%= flash[:danger] %></p>
      <% end %>

      <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
      <div class="loginform">
        <div class="flex-row">
          <div class="flex-item"><%= f.label :email %></div>
          <div class="flex-item"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></div>
        </div>
        <div class="flex-row">
          <div class="flex-item"><%= f.label :password %></div>
          <div class="flex-item"><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></div>
        </div>
      </div>

      <div class="text-center mt-3">
        <%= f.submit "　ログイン　", class: "btn btn-primary" %>
      </div>
      <% end %>

      <p class="text-center mt-3">登録がお済みでない方は　<%= link_to "こちら", new_user_registration_path, class: "underline" %>　から新規登録を行なってください</p>
    </div>
  </div>
</div>
