<div class="container">
  <h4 class="my-2 text-center" style="background-color: #ffb830">マイページ</h4>

  <div class="row">
    <div class="col-md-3">
      <!--#ユーザー詳細-->
      <h4 class="my-3 text-center" style="background-color: #c66358">ユーザー情報</h4>
        <table class="flex">
          <tbody>
            <tr>
              <td>【アカウント名】<%= @user.account_name %></td>
            </tr>
          </tbody>
        </table>

      <!--#編集画面へのボタン-->
      <% if @user == current_user %>
        <%= link_to edit_information_path(@user.id), class:'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog", area-hidden="true">
            <span>アカウント管理</span>
          </i>
        <% end %>
      <% else %>
        <%= link_to edit_information_path(@user), class:'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog", area-hidden="true"></i>
        <% end %>
      <% end %>

      <%= link_to "レシピを投稿する", new_recipe_path, class:"btn btn-outline-success btn-block" %>
      <%= link_to "ｍｙレシピ一覧", myrecipe_path, class:"btn btn-outline-info btn-block" %>
    </div>

    <div class="col-md-8">
      <h4 class="my-3 text-center" style="background-color: #aeeff0">作ってみたいリスト</h4>
      <div class="d-flex flex-wrap">
        <% @want_list.each do |recipe| %>
          <div class="mr-3 d-flex flex-column mb-4">
            <%= link_to recipe_path(recipe.id) do %>
              <% if recipe.recipe_image.attached? %>
                <%= image_tag recipe.recipe_image, size: "200x150" %>
              <% else %>
                <%= image_tag 'no-image', size: "200x150" %>
              <% end %>
            <% end %>
            <p class="ml-1 text-dark"><strong><%= recipe.name %></strong></br></p>
          </div>
        <% end %>
      </div>
      <div class="text-right my-1">
        <%= link_to "作ってみたいリスト一覧へ", recipe_want_to_make_lists_path(@user) %>
      </div>

      <h4 class="my-3 text-center" style="background-color: #aeeff0">作ってみたリスト</h4>
      <div class="d-flex flex-wrap">
        <% @made_list.each do |recipe| %>
          <div class="mr-3 d-flex flex-column mb-4">
            <%= link_to recipe_path(recipe.id) do %>
              <% if recipe.recipe_image.attached? %>
                <%= image_tag recipe.recipe_image, size: "200x150" %>
              <% else %>
                <%= image_tag 'no-image', size: "200x150" %>
              <% end %>
            <% end %>
            <p class="ml-1 text-dark"><strong><%= recipe.name %></strong></br></p>
          </div>
        <% end %>
      </div>
      <div class="text-right my-1">
        <%= link_to "作ってみたリスト一覧へ", recipe_made_lists_path(@user) %>
      </div>
    </div>
  </div>
</div>